label {
  display: block;
  margin-bottom: 0.3125rem;
}

input, select, button, textarea {
  min-height: 2rem;
  padding: 5px 10px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
}

input, select, textarea {
  width: 100%;
}

textarea {
  resize: none;
}

.container {
  width: 60%;
  margin: 30px auto;
  padding: 15px;
}

.row {
  display: flex;
  align-items: stretch;
}

.column {
  flex: 1;
}

.form-control {
  margin-bottom: 1rem;
}

.form-group-control {

  &:not(:last-child) {
    border-right: none;
    border-radius: 0;
  }

  &:first-child {
    border-radius: 3px 0 0 3px;
  }

  &:last-child {
    border-radius: 0 3px 3px 0;
  }
}

.form-control-errors {
  margin-top: 0.25rem;
  padding: 0.25rem;
  color: #7b0000;
  font-size: 0.875rem;
  background-color: #ffd7d0;
  border: 1px solid #d89495;
  border-radius: 3px;

  span {
    display: block;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  line-height: 0.8125rem;
  cursor: pointer;

  i + span {
    margin-left: 0.5rem;
  }
}

.social-links {
  select {
    width: 120px;
  }
}

.form-panel {
  flex: 0.8;
}

.data-panel {
  margin-left: 3rem;
}

.form-console {
  flex: 300px;
  padding: 1rem;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  color: #333333;
  font-size: 1.125rem;
  background-color: #f0f0f0;

  pre {
    white-space: pre-wrap;
  }
}

.form-data {
  font-size: 1.125rem;
  .field {
    display: flex;
    margin-bottom: 0.5rem;
  }
  .label {
    flex: 1;
    font-weight: bold;
  }

  .value {
    flex: 1;

  }

  ul.value {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.icon {
  display: inline-block;
  background: url('../assets/sprite.svg') no-repeat;
}

.icon-send {
  width: 10px;
  height: 10px;
  background-position: 0 0;
}

.icon-plus {
  width: 10px;
  height: 10px;
  background-position: -52px -26px;
}

.icon-cross {
  width: 10px;
  height: 10px;
  background-position: -78px -26px;
}

@media all and (max-width: 1320px) {
  .container {
    width: 80%;
  }
}

@media all and (max-width: 720px) {
  .container {
    width: 100%;
  }
}


