<div class="container">

  <h1>Angular Reactive Forms - Ejemplo</h1>

  <div class="row">
    <div class="column form-panel">
      <form (ngSubmit)="onSubmit()" [formGroup]="myForm">

        <div class="form-control">
          <label for="username">Nombre de usuario</label>
          <input id="username" type="text" formControlName="username">

          <div class="form-control-errors" *ngIf="myForm.get('username').invalid && myForm.get('username').touched">
            <span *ngIf="myForm.get('username').hasError('required')">
              Tu nombre de usuario es requerido.
            </span>
            <span *ngIf="myForm.get('username').hasError('minlength')">
              Tu nombre de usuario debe tener al menos 4 caracteres.
            </span>
            <span *ngIf="myForm.get('username').hasError('maxlength')">
              Tu nombre de usuario debe tener máximo 12 caracteres.
            </span>
          </div>
        </div>

        <div class="form-control">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email">

          <div class="form-control-errors" *ngIf="myForm.get('email').invalid && myForm.get('email').touched">
            <span *ngIf="myForm.get('email').hasError('required')">
              Tu email es requerido.
            </span>
            <span *ngIf="myForm.get('email').hasError('email') && myForm.get('email').dirty">
              Tu email debe tener un formato correcto (email@ejemplo.com).
            </span>
          </div>
        </div>

        <div class="form-control">
          <label for="password">Contraseña</label>
          <input id="password" type="password" formControlName="password">

          <div class="form-control-errors" *ngIf="myForm.get('password').invalid && myForm.get('password').touched">
            <span *ngIf="myForm.get('password').hasError('required')">
              Tu contraseña es requerida.
            </span>
            <span *ngIf="myForm.get('password').hasError('valueNotIn')">
              Por seguridad, no agregues tu nombre de usuario a tu contraseña.
            </span>
            <span *ngIf="myForm.get('password').hasError('minlength')">
              Tu contraseña debe tener al menos 8 caracteres.
            </span>
          </div>
        </div>

        <div class="form-control">
          <label for="profile">Perfil</label>
          <select id="profile" formControlName="profile">
            <option *ngFor="let profile of profiles">{{profile}}</option>
          </select>

          <div class="form-control-errors" *ngIf="myForm.get('profile').invalid && myForm.get('profile').touched">
            <span *ngIf="myForm.get('profile').hasError('required')">
              Tu perfil es requerido.
            </span>
          </div>
        </div>

        <div class="form-control">
          <label for="bio">Bio:</label>
          <textarea id="bio" cols="30" rows="3" placeholder="Cuéntanos sobre ti..." formControlName="bio"></textarea>

          <div class="form-control-errors" *ngIf="myForm.get('bio').invalid && myForm.get('bio').touched">
          <span *ngIf="myForm.get('bio').hasError('nonSpecialCharacters')">
            No uses cualquiera de los siguientes caracteres especiales: @ # $ % ^ & * ( ) _ [ ] / \ | > <
          </span>
          </div>
        </div>

        <div class="form-array form-control" formArrayName="links">
          <label>
            Social Links:
            <button type="button" class="btn btn-icon btn-small" (click)="addLink()">
              <i class="icon icon-plus"></i>
              <span>New link</span>
            </button>
          </label>

          <div *ngFor="let link of myForm.get('links')['controls']; let i = index">
            <div class="social-links form-group row" [formGroupName]="i">
              <select class="form-group-control" title="Link name" formControlName="name">
                <option *ngFor="let linkData of linksData" [value]="linkData.name">{{linkData.name}}</option>
              </select>
              <input class="form-group-control" type="text" title="Link URL" formControlName="url" [value]="">
              <button type="button" class="btn btn-icon form-group-control" (click)="removeLink(i)">
                <i class="icon icon-cross"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form-control">
          <label>¿Cómo calificas este formulario?</label>
          <app-input-stars formControlName="stars"></app-input-stars>

          <div class="form-control-errors" *ngIf="myForm.get('stars').invalid && myForm.get('stars').touched">
            <span *ngIf="myForm.get('stars').hasError('required')">
              Tu calificación es requerida.
            </span>
          </div>
        </div>

        <button type="submit" class="btn btn-icon">
          <i class="icon icon-send"></i>
          <span>Enviar</span>
        </button>
        <button type="button" (click)="onReset()">Limpiar</button>
      </form>
    </div>

    <div class="column data-panel">

      <h2>Valores del formulario</h2>
      <div class="form-console">
        <pre>{{liveValues | json}}</pre>
      </div>

      <h2>Valores del modelo</h2>
      <div class="form-data">
        <div class="field">
          <span class="label">Nombre de usuario:</span> <span class="value">{{userData.username}}</span>
        </div>
        <div class="field">
          <span class="label">Email:</span> <span class="value">{{userData.email}}</span>
        </div>
        <div class="field">
          <span class="label">Contraseña:</span> <span class="value">{{userData.password}}</span>
        </div>
        <div class="field">
          <span class="label">Perfil:</span> <span class="value">{{userData.profile}}</span>
        </div>
        <div class="field">
          <span class="label">Bio:</span> <span class="value">{{userData.bio}}</span>
        </div>
        <div class="field">
          <span class="label">Links:</span>
          <ul class="value">
            <li *ngFor="let link of userData.links">
              {{link.name}}: {{link.url}}
            </li>
          </ul>
        </div>
        <div class="field">
          <span class="label">Calificación:</span> <span class="value">{{userData.bio}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
